:root {
  --site-bg-color: hsla(230, 6%, 8%, 1);
  --text-color: hsla(350, 100%, 99%, 1);
  --text-color-shaded: hsla(0, 0%, 47%, 1);
  --accent-color: hsla(350, 100%, 65%, 1);
  --accent-color-shaded: hsla(350, 100%, 65%, 0.16);

  --days-in-week: 7;
  --week-rows-in-month: 6;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: "Lexend", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--site-bg-color);
  color: var(--text-color);
}
